.Cast {
  width: 20%;
  margin-top: 50px;
  transition: transform 0.2s ease;
}

.Cast:hover {
  transform: scale(1.1);
}

.Cast:hover img {
  box-shadow: 0 0 20px black;
}

.Cast a {
  text-decoration: none;
  color: inherit;
}

.Cast h4 {
  font-size: 0.7em;
  margin-top: 5px;
}

.Cast img {
  object-fit: cover;
  width: 70%;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
}

.Cast span {
  font-size: 0.6em;
  color: rgb(160, 160, 160);
}
