.MovieVideos {
  margin-top: 30px;
}

.MovieVideos h1 {
  font-size: 1.5em;
  text-align: left;
}

.MovieVideos > div {
  display: flex;
  flex-wrap: wrap;
}

.MovieVideos .video {
  margin-top: 35px;
  width: 33%;
}

.MovieVideos h4 {
  font-size: 0.6em;
  margin: 10px auto 0 auto;
  line-height: 1.3em;
  width: 80%;
}

.MovieVideos button {
  display: block;
  margin-top: 30px;
  text-align: left;
  border-radius: 6px;
  border: none;
  padding: 8px;
  transition: background-color 0.4s ease;
}

.MovieVideos button:hover {
  cursor: pointer;
  background: linear-gradient(
    to right,
    #88cca4,
    #6ac6b4,
    #54c1bf,
    #52c1c0,
    #38bec9,
    #24b7da
  );
}

/* MEDIA QUERIES */

@media (max-width: 1350px) {
  .MovieVideos > div {
    flex-direction: column;
    /* align-items: center; */
  }

  .MovieVideos .video {
    margin-top: 35px;
    width: 100%;
  }

  .MovieVideos h4 {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .MovieVideos {
    display: none;
  }
}
